nav li{
    text-decoration: none;
  
    display:inline-block;
  
    padding: 4px 20px;
    
   
    
    
}

nav li a{
   
    color: white;
   
    text-decoration: none;

}

nav li :hover{
    color: #00cc33;
    
}

nav{  
    
    float:right;
    
}

html{
    background-image: url(index.jpeg);
    background-color: #111109;
    background-blend-mode: hard-light;
    font-family: 'Lora', serif;
    color:white;
}

img {
  position: fixed;
  width:80px;
  border-radius: 50%;
}
nav button{
    background-color: transparent;
    color: white;
    padding:5px 15px;
}
h1{
    text-align: center;
}
article{
    display: inline;
    left:30%;
    position: relative;
    top: 230px;

}
article a{
    padding: 25px;
}

#mode{
    background-color: transparent;
    color: white;
    padding:5px 15px;
}