nav li{
    text-decoration: none;
  
    display:inline-block;
  
    padding: 4px 20px;
    
   
    
    
}

nav li a{
   
    color: white;
   
    text-decoration: none;

}

nav li :hover{
    color: #00cc33;
    
}

nav{  
    
    float:right;
    
}

html{
    background-image: url(index.jpeg);
    background-color:  #00cc33;
    background-blend-mode:darken;
    font-family: 'Lora', serif;
    color:white;
}

img {
  position: fixed;
  width:80px;
  border-radius: 50%;
}
form{
    
    
    position: fixed;
    left:40%;
    top:20%;
    text-align:center;
    color:white;
    
    

}
input[type="email"],input[type="text"],input[type="password"],input[type="submit"]{
    border-color: #00cc33;
    border-radius: 20px;
    display:block;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.90);
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    color: white;
   
}
input[type="submit"]{
    position: relative;
    left:15%;
    width:150px;
    align-self: center;
    color:white;
}
nav button{
    background-color: transparent;
    color: white;
    padding:5px 15px;
}
